@import url('reset.css');

:root {
    --sidebar-width: 20vw;
}

body {
    background: gray;
}

ul {
    display: flex;
}

/* Sidebar  */

#sidebar {
    width: var(--sidebar-width);
    position: fixed;
    left: 0;
    height: 100%;
    background: hsl(212, 84%, 43%);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#sidebar > div {
    display: flex;
}

#sidebar div > ul {
    flex-direction: column;
}

/* Mainboard  */

#main-board {
    margin-left: var(--sidebar-width);
}

#main-board > #header > #profile {
    display: grid;
    grid-template-columns: 75fr 25fr;
}

#header {
    background: white;
    padding: 20px 40px;
}

#profile #left-side {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-areas: 
                        "avatar username"
                        "avatar stats";
    column-gap: 10px;
    
}

#left-side > *, #right-side > * {
    display: flex;
    margin: auto;
}

#left-side #avatar {
    grid-area: avatar;
    background: red;
    width: 50px;
    height: 50px;
}

#left-side #username {
    grid-area: username;
    margin-left: 0;
}

#left-side #stats {
    grid-area: stats;
}

#left-side #stats > ul {
    display: flex;
    gap: 10px;
}

#right-side {
    display: flex;
}

#right-side > ul {
    gap: 10px;
    margin: auto;
}
