@import url('reset.css');

:root {
    --sidebar-width: 20vw;
    --border-radius: 6px;
    --gradient: linear-gradient(45deg, var(--primary-5), var(--primary));
    --bx-shd: 4px 4px 10px hsla(270, 98%, 37%, 0.05);
    --primary: hsl(270, 98%, 37%);
    --primary-1: hsl(269, 100%, 95%);
    --primary-2: hsl(270, 97%, 85%);
    --primary-3: hsl(270, 98%, 75%);
    --primary-4: hsl(270, 98%, 65%);
    --primary-5: hsl(270, 98%, 55%);
    --primary-6: hsl(270, 98%, 45%);
    --primary-7: hsl(270, 98%, 35%);
    --primary-8: hsl(270, 98%, 25%);
    --primary-9: hsl(270, 97%, 15%);
    --primary-10: hsl(271, 100%, 5%);
    --neutral-1: hsl(280, 12%, 97%);
    --neutral-2: hsl(277, 11%, 90%);
    --neutral-3: hsl(277, 10%, 75%);
    --neutral-4: hsl(277, 10%, 65%);
    --neutral-5: hsl(277, 10%, 55%);
    --neutral-6: hsl(277, 10%, 45%);
    --neutral-7: hsl(277, 10%, 35%);
    --neutral-8: hsl(277, 10%, 25%);
    --neutral-9: hsl(278, 11%, 15%);
    --neutral-10: hsl(280, 12%, 5%);
}

* {
    box-sizing: border-box;
    transition: 50ms;
}

body {
    background: var(--neutral-2);
    font-family: 'Roboto', sans-serif;
    color: var(--primary-10);
}

ul {
    display: flex;
}

a {
    text-decoration: none;
}

b {
    font-weight: bold;
}

h1 {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Sidebar  */

#sidebar {
    width: var(--sidebar-width);
    position: fixed;
    left: 0;
    height: 100%;
    background: var(--gradient);
    color: var(--neutral-1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#sidebar > div {
    display: flex;
    flex-direction: column;
}
#sidebar #logo {
    padding: 10px;
    padding-top: 40px;
}

#sidebar #logo h1 {
    font-family: 'DM Serif Display', serif;
    text-transform: uppercase;
    font-weight: 400;
    margin: auto;
    font-size: 4rem;
}

#sidebar #logo > * {
    margin: auto;
    margin-left: 10px;
}

#sidebar a {
    color: var(--neutral-1);
    font-weight: 500;
    font-size: 1.25rem;
    padding: 20px 0;
    position: inherit;
    width: 100%;
    text-align: left;
    outline: 0;
    display: flex;
}

#sidebar a.current {
    font-weight: 600;
}

#sidebar a:hover, #sidebar a.current {
    background: var(--neutral-1);
    color: var(--primary-7);
}

#sidebar a > i {
    font-size: 1rem;
    margin: auto;
    margin-left: 20%;
    margin-right: 10%;
}

/* Mainboard  */

#main-board {
    margin-left: var(--sidebar-width);
}

#main-board > #header > #profile {
    display: grid;
    grid-template-columns: 75fr 25fr;
}

#header {
    background: var(--neutral-1);
    padding: 20px 50px;
    box-shadow: var(--bx-shd);
}

#profile #left-side {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-areas: 
                        "avatar username";
    column-gap: 20px;
    row-gap: 10px;
}

#left-side > *, #right-side > * {
    display: flex;
    margin: auto;
}

#left-side #avatar {
    grid-area: avatar;
    background: url("resources/images/ryan.png"), var(--neutral-2);
    background-size: cover;
    background-position: center;
    filter: grayscale(.3);
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

#left-side #username {
    grid-area: username;
    margin-left: 0;
    font-weight: bold;
    font-size: 1.75rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#left-side #username #greeting {
    font-size: 1rem;
    font-weight: 500;
}

#right-side {
    display: flex;
}

#right-side > ul {
    gap: 10px;
    margin: auto;
}

#right-side a {
    font-weight: 600;
    font-size: 1rem;
    padding: 10px 15px;
    background: var(--primary);
    color: var(--neutral-1);
    border-radius: var(--border-radius);
    display: block;
}

#right-side a:hover {
    background: var(--primary-8);
}

#right-side a > i {
    margin-right: 10px;
}

/*Main content*/

#main {
    display: grid;
    grid-template-columns: .7fr .3fr;
    margin: 40px;
    gap: 40px;
}

#item-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

#item-card {
    overflow: hidden;
    background: var(--neutral-1);
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);    
    box-shadow: var(--bx-shd);
}

#item-card > * {
    display: flex;
}

#item-card #image {
    height: 200px;
    background: url("resources/images/cattoy.jpg"), var(--neutral-3);
    background-size: cover;
    background-position: center;
}

#item-card #info {
    flex-direction: column;
    margin: 15px;
    padding-left: 5px;;
    gap: 10px;
}

#info #name {
    font-weight: 500;
    font-size: 1rem;
    line-height: 130%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}

#info #price {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary);
}

#info #stats {
    color: var(--neutral-5);
}

#stats .rating {
    color: var(--primary);
    font-size: 1.2rem;
}

#item-card #control {
    /* position: absolute; */
    display: flex;
    align-items:flex-end;
    /* flex-direction: column; */
    gap: 10px;
    margin: 20px auto;
    margin-top: 10px;
}

#item-card #control a {
    color: var(--primary);
    padding: 10px;
    border-radius: var(--border-radius);
    background-color: var(--primary-1);
}

#item-card #control a:hover {
    background-color: var(--primary-2);
}

#right-panel {
    display: grid;
    grid-auto-rows: min-content max-content auto;
    gap: 40px;
}

#right-panel #content-board {
    background: var(--neutral-1);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--bx-shd);
    line-height: 150%;
}

#right-panel #content-board ul {
    display: flex;
    flex-direction: column;
}

#right-panel #content-board ul > li {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--neutral-2);
}

#right-panel a {
    display: inline-flex;
    gap: 15px;
    color: var(--primary-10);
}

#right-panel a * {
    margin: auto;
}

#right-panel a b {
    color: var(--primary);
}

#right-panel #content-board span {
    font-size: 0.9rem;
    font-style: italic;
    color: var(--neutral-5);
}

#trend-item #content-board ul > li {
    display: flex;
    gap: 15px;
}

#content-board ul > li > .ranking {
    padding: 5px 10px;
    border-radius: var(--border-radius);
    background: var(--primary-1);
    margin: auto 0;
}

#content-board ul > li:nth-child(1) > .ranking {
    background-color: var(--primary-8);
    color: var(--neutral-1);
    font-weight: bold;
}

#content-board ul > li:nth-child(2) > .ranking {
    background-color: var(--primary-7);
    color: var(--neutral-1);
    font-weight: bold;
}

#content-board ul > li:nth-child(3) > .ranking {
    background-color: var(--primary-6);
    color: var(--neutral-1);
    font-weight: bold;
}

#stats-board {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

#stats-board #card {
    padding: 30px;
    background: linear-gradient(45deg, var(--primary), var(--primary-8));
    border-radius: var(--border-radius);
    color: var(--neutral-1);
    box-shadow: var(--bx-shd);
}

#stats-board #card:nth-child(1) {
    grid-area: 1/1/2/3;
}

#stats-board #card:nth-child(2) {
    background: var(--neutral-1);
    color: var(--primary);
}

#stats-board #card:nth-child(3) {
    background: var(--neutral-1);
    color: var(--primary);
}

#stats-board #card #number {
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 1%;
}

#stats-board #card #title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 200;
}